html{
    scroll-behavior: smooth;
}
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    color: #e2e8f0;
}

/* Navbar */
nav {
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #020617; */
    
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #020617;

}

nav h1 {
    color: #38bdf8;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #e2e8f0;
    transition: 0.3s;
}

nav a:hover {
    color: #38bdf8;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 100px 20px;
}

.hero h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.hero button {
    padding: 10px 20px;
    border: none;
    background-color: #38bdf8;
    color: #000;
    cursor: pointer;
    border-radius: 5px;
}

/* Sections */
section {
    padding: 50px;
    text-align: center;
}

/* Projects */
.projects {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project-card {
    background-color: #1e293b;
    padding: 20px;
    border-radius: 10px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #020617;
}